{% extends "base.html" %}

{% block content %}
    <h2>Профессии для успешной работы миссии на Марс</h2>

    {% if list_type == 'ol' %}
        <ol>
            {% for profession in professions %}
                <li>{{ profession }}</li>
            {% endfor %}
        </ol>
    {% elif list_type == 'ul' %}
        <ul>
            {% for profession in professions %}
                <li>{{ profession }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Неверный параметр. Пожалуйста, используйте 'ol' для нумерованного списка или 'ul' для маркированного.</p>
    {% endif %}
{% endblock %}
